﻿@model Optimus.Report.Models.CardModel
@{
    Layout = "_Layout";
}

<style>
    .card,
    .card-header {
        background: #F8F8FB !important;
        border-bottom: none !important;
    }

    .card-icon {
        color: #fff !important;
        background-color: #1647AB;
        border-radius: 8px;
        padding: 5px;
        margin-bottom: 38px;
        margin-right: 5px;
    }


    .sup-indice {
        color: #313131;
        font-size: 14px !important;
        margin-bottom: -6px !important;
        margin-top: 5px !important;
    }

    .sub-indice {
        color: #949494;
        font-size: 12px;
    }

    .aux-indicators {
        font-size: 24px !important;
        font-weight: bold !important;
    }

    .main-indicators {
        font-size: 36px !important;
        margin-top: -5px;
        font-weight: bold !important;
    }

    .badge-indicator {
        background-color: #ededf0;
        font-size: 16px !important;
        color: black;
    }

    .badge-label {
        color: #555555;
        font-size: 12px !important;
    }

    .full-width {
        width: 100% !important;
    }

    hr {
        border: 1px !important;
    }

    .icon-badge {
        background-color: #79A3F8;
        min-width: 52px !important;
        min-height: 52px !important;
    }

    .text-white {
        color: #FFF !important;
    }
</style>

<div class="card full-width border-0 rounded">
    <div class="card-header">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row align-content-center">
                <span class="pt-2 mr-2 text-white">
                    <div
                        class="badge icon-badge text-white d-flex flex-row justify-content-center align-content-center">
                        <span class="d-flex">
                            <i class="text-white align-self-center" data-eva=@Model.Icon></i>
                        </span>
                    </div>
                </span>
                <div class="d-flex flex-column">
                    <span class="sup-indice">@Model.Title</span>
                    <span class="main-indicators" style="color:@Model.PrincipalColor">@Model.PrincipalValue</span>
                </div>
            </div>
            <div class="d-flex flex-column">
                @if (Model.ObjValue != null)
                {
                    <span class="badge-label">EF.Objetivo</span>
                    <span class="badge badge-indicator">@Model.ObjValue </span>
                }
            </div>
        </div>
    </div>
    <hr class="mx-3">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column ml-2">
                @if (Model.YearValue != null)
                {
                    <span class="aux-indicators" style="color:@Model.YearColor">@Model.YearValue</span>
                }
                else
                {
                    <span class="aux-indicators" style="color:#1F66F4">ND</span>
                }
                <span class="sub-indice">AÑO ANTERIOR</span>
            </div>
            <div class="d-flex flex-column">
                @if (Model.MonthValue != null)
                {
                    <span class="aux-indicators" style="color:@Model.MonthColor">@Model.MonthValue</span>
                }
                else
                {
                    <span class="aux-indicators" style="color:#1F66F4">ND</span>
                }
                <span class="sub-indice">PERIODO ANTERIOR</span>
            </div>
        </div>
    </div>
</div>
