﻿@model Optimus.Report.Models.BarModel
@{
    Layout = "_Layout";
}

@if (Model.Series?.First().Data?.Count > 0)
{
    <div id="main" style="width:100%; height:100%;">

    </div>
    <script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    var option = {
     tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
            },
            formatter: '{c} %'
    },grid: {
        bottom: 150,
    },xAxis: {
        type: 'category',
        data:  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.XAxis.Data)),
            axisLabel: {
                interval: 0, rotate: 55},
    },
    yAxis: {
        type: 'value'
    },
        series: [{
            label: {
                show: true,
                position: 'insideBottom',
                formatter: '{c}%',
                fontSize: @Model.Series.First().Label.FontSize,
                fontWeight: 'bold'
            },
        data:@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Series.First().Data)),
        type: 'bar'
        }]
};
    myChart.setOption(option);
    </script>
}
else
{
    @await Html.PartialAsync("~/Views/Shared/AdNoData.cshtml")
}

