﻿@model Optimus.Report.Models.PieModel
@{
    Layout = "_Layout";
}

@if (Model.Serie.Data?.Count > 0)
{
    <div class="d-flex flex-row full-width">

        <div id="main" style="width:45% !important; height:400px;">
        </div>

        <div id="treeMap" style="width:55% !important;  height:400px; ">
        </div>

    </div>

    <script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));

    option = {
        tooltip: {
            trigger: 'item',
            formatter: '{b}  {c} ({d}%)'
        },
        legend: {
            left: 'left',
        },
        visualMap: {
            show: false,
            min: @Model.Min ,
            max: @Model.Max ,
            inRange: {
                colorLightness: [0.9, 0.2]
            }
        },
        series: [
            {
                name: 'Formato',
                type: 'pie',
                radius: ['40%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    show: true,
                    formatter: '{c} ({d}%)'
                },
                labelLine: {
                    show: true
                },
                itemStyle: {
                    color: '#5A6ACF',
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                },
                data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Serie.Data))
            }
        ]
    };

    myChart.setOption(option);


    var treeMap = echarts.init(document.getElementById('treeMap'));

    var optionTreeMap = {
        tooltip: {
            trigger: 'item',
            formatter: ' {c}%  {b} '
        },
        series: [{
            roam:false,
            breadcrumb:{
               show: false
            },
            type: 'treemap',
            color: ['#C7CEFF', '#1647AB'],
            colorMappingBy: 'value',
            itemStyle: {
                gapWidth: 2
            },
          label:{
              show : true,
              formatter: ' {c}% \n {b} '
            },
            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data))
        }]
    };
    treeMap.setOption(optionTreeMap);

    </script>
}
else
{
    @await Html.PartialAsync("~/Views/Shared/AdNoData.cshtml")
}

