﻿@model Optimus.Report.Models.PerformanceTableModel
@{
    Layout = "_Layout";
}
@if (Model.MachineData?.Count > 0)
{
    <style>

        .table td, .table th {
            padding: .5rem;
        }

        .table-container {
            width: 100% !important;
        }

        .thead-light {
            background-color: #F6F6F7;
        }

        th {
            color: #949494;
        }

        .badge {
            color: #000 !important;
            font-size: 1rem !important;
            font-weight: normal !important;
            padding-top: 6px;
            padding-bottom: 6px;
        }

        .Atencion {
            color: #FD9A06 !important;
            background-color: #FFE9C9;
        }

        .Peligro {
            color: #F65929 !important;
            background-color: #FBDFD6;
        }
    </style>

    <table class="table table-hover border-right border-bottom border-left">
        <thead class="thead-light sticky-top">
            <tr>
                <th scope="col">Equipo</th>
                <th scope="col">PO</th>
                <th scope="col">FP</th>
                <th scope="col">PR</th>
                <th scope="col">SV</th>
                <th scope="col">PF</th>
                <th scope="col">PA</th>
                <th scope="col">PD</th>
                <th scope="col">PP</th>
                <th scope="col">TMEF</th>
                <th scope="col">TMPR</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var MachineData in Model.MachineData)
            {
                <tr>
                    <td scope="col">
                        @Html.Raw(MachineData.DescEquipo)
                    </td>
                    <td scope="col">
                        @if (MachineData.PO.HasValue)
                        {
                            @Math.Round(MachineData.PO.Value, 2) @Html.Raw("%")
                        }
                        else
                        {
                            @Html.Raw("--")
                        }
                    </td>
                    <td scope="col">
                        @if (MachineData.FP.HasValue)
                        {
                            @Math.Round(MachineData.FP.Value, 2) @Html.Raw("%")
                        }
                        else
                        {
                            @Html.Raw("--")
                        }
                    </td>
                    <td scope="col">
                        @if (MachineData.PR.HasValue)
                        {
                            @Math.Round(MachineData.PR.Value, 2)@Html.Raw("%")
                        }
                        else
                        {
                            @Html.Raw("--")
                        }
                    </td>
                    <td scope="col">
                        @if (MachineData.SV.HasValue)
                        {
                            @Math.Round(MachineData.SV.Value, 2)@Html.Raw("%")
                        }
                        else
                        {
                            @Html.Raw("--")
                        }
                    </td>
                    <td scope="col">
                        @if (MachineData.PF.HasValue)
                        {
                            @Math.Round(MachineData.PF.Value, 2)@Html.Raw("%")
                        }
                        else
                        {
                            @Html.Raw("--")
                        }
                    </td>
                    <td scope="col">
                        @if (MachineData.PA.HasValue)
                        {
                            @Math.Round(MachineData.PA.Value, 2)@Html.Raw("%")
                        }
                        else
                        {
                            @Html.Raw("--")
                        }
                    </td>
                    <td scope="col">
                        @if (MachineData.PD.HasValue)
                        {
                            @Math.Round(MachineData.PD.Value, 2)@Html.Raw("%")
                        }
                        else
                        {
                            @Html.Raw("--")
                        }
                    </td>
                    <td scope="col">
                        <span class="badge  @MachineData.PPAler">
                            @if (MachineData.PP.HasValue)
                            {
                                @Math.Round(MachineData.PP.Value, 2)@Html.Raw("%")
                            }
                            else
                            {
                                @Html.Raw("--")
                            }
                        </span>
                    </td>
                    <td scope="col">
                        <span class="badge @MachineData.TMEFAler">
                            @if (MachineData.TMEF.HasValue)
                            {
                                @Math.Round(MachineData.TMEF.Value, 2)
                            }
                            else
                            {
                                @Html.Raw("--")
                            }
                        </span>
                    </td>
                    <td scope="col">
                        <span class="badge @MachineData.TMPRAler">
                            @if (MachineData.TMPR.HasValue)
                            {
                                @Math.Round(MachineData.TMPR.Value, 2)
                            }
                            else
                            {
                                @Html.Raw("--")
                            }
                        </span>
                    </td>
                </tr>
            }


        </tbody>
    </table>
}
else
{
    @await Html.PartialAsync("~/Views/Shared/AdNoData.cshtml")
}
