﻿@model Optimus.Report.Models.StackedBarModel
@{
    Layout = "_Layout";
}

@if (Model.Series?.First().Data?.Count > 0)
{
    <div id="main" style="width:100%; height:100%;">

    </div>

    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
    var option;

var emphasisStyle = {
    itemStyle: {
        shadowBlur: 10,
        shadowColor: 'rgba(0,0,0,0.3)'
    }
};

option = {
    legend: {
        data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.DataLegend)),
        left: '10%'
    },
    tooltip: {},
    xAxis: {
        data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.XAxis.Data)),
    },
      yAxis: [
        {
            type: 'value',
            min: 0,
            max: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.YAxis[0].Max)),
            interval: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.YAxis[0].Interval)),
            axisLabel: {
                formatter: '{value} eventos'
            }
        },
        {
            type: 'value',
            min: 0,
            max: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.YAxis[1].Max)),
            interval: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.YAxis[1].Interval)),
            axisLabel: {
                formatter: '{value} min'
            }
        }
    ],
    grid: {
        bottom: 100
    },
    series: [
        {
            name:  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Series[0].Name)),
            type: 'bar',
            stack: 'one',
            emphasis: emphasisStyle,
            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Series[0].Data)),
            itemStyle: {
             color:"#5A6ACF"
            },
        },
        {
            name:  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Series[1].Name)),
            type: 'bar',
            stack: 'one',
            emphasis: emphasisStyle,
            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Series[1].Data)),
            itemStyle: {
             color:"#8593ED"
            },
        },
        {
            name: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Series[2].Name)),
            type: 'bar',
            stack: 'one',
            emphasis: emphasisStyle,
            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Series[2].Data)),
            itemStyle: {
             color:"#C7CEFF"
            },
        },
                {
            type: 'line',
            yAxisIndex: 1,
             itemStyle: {
             color:"#555555"
            },
            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Series[3].Data)),
        }
    ]
};

 myChart.setOption(option);
    </script>
}
else
{
    @await Html.PartialAsync("~/Views/Shared/AdNoData.cshtml")
}

