﻿@model Optimus.Report.Models.BarModel
@{
    Layout = "_Layout";
}
@if (Model.Series?.First().Data?.Count > 0)
{
    <div id="main" style="width:100%; height:100%;">

    </div>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
    var option;

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.YAxis.Data)),
            axisLabel: {
                interval: 0,
                rotate: 35,
               },
        },
        series: [
            {
                label: {
                show: true,
                position: 'right',
                formatter: '{c}',
                    fontSize: 10,
                },
                type: 'bar',
                data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Series.First().Data)),
            },
        ]
    };
    myChart.setOption(option);
    </script>
}
else
{
    @await Html.PartialAsync("~/Views/Shared/AdNoData.cshtml")
}

