﻿<style>
  .content {
    height: 100%;
  }
</style>


<div class="d-flex flex-row justify-content-center align-item-center content text-center">
  <div class="d-flex flex-column">
    <h3>No hay resultados</h3>
    <h6>Por favor intenta con un criterio de busqueda diferente. </h6>

    <svg width="330" height="200" viewBox="0 0 330 200" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0.732788 159.733L41.7996 159.603L82.8664 159.554L165 159.462L247.134 159.554L288.2 159.603L329.267 159.733L288.2 159.868L247.134 159.911L165 160.003L82.8664 159.911L41.7996 159.862L0.732788 159.733Z"
        fill="#263238" />
      <path
        d="M166.081 200C251.641 200 321.001 192.4 321.001 183.024C321.001 173.649 251.641 166.049 166.081 166.049C80.5204 166.049 11.1602 173.649 11.1602 183.024C11.1602 192.4 80.5204 200 166.081 200Z"
        fill="#EBEBEB" />
      <path
        d="M130.017 180.215C128.758 180.642 92.6617 180.755 91.2786 179.902C90.7383 179.577 90.4303 174.32 90.198 167.956C90.1494 166.584 90.1116 165.163 90.0792 163.726L87.1995 144.47L111.334 144.313L113.608 163.574L113.517 167.81C113.517 167.81 127.359 173.942 128.774 175.055C130.19 176.168 131.276 179.788 130.017 180.215Z"
        fill="#F7A9A0" />
      <path
        d="M130.017 180.215C128.758 180.642 92.6617 180.755 91.2786 179.902C90.6411 179.502 90.2953 171.824 90.1008 163.725L113.581 163.574L113.49 167.81C113.49 167.81 127.332 173.942 128.747 175.055C130.163 176.168 131.276 179.788 130.017 180.215Z"
        fill="white" />
      <path
        d="M130.017 180.215C128.758 180.642 92.6617 180.755 91.2786 179.902C90.7383 179.577 90.4303 174.32 90.198 167.956L113.468 167.81C113.468 167.81 127.31 173.942 128.725 175.055C130.141 176.168 131.276 179.788 130.017 180.215Z"
        fill="#A6A6A6" />
      <path
        d="M129.493 178.772C123.442 178.642 99.0208 178.702 93.0291 179.037C92.9805 179.037 92.9805 179.069 93.0291 179.075C99.0262 179.329 123.447 179.075 129.493 178.869C129.622 178.864 129.622 178.772 129.493 178.772Z"
        fill="#263238" />
      <path
        d="M126.418 173.764C125.746 173.749 125.077 173.874 124.455 174.13C123.833 174.387 123.27 174.77 122.804 175.255C121.954 176.121 121.473 177.283 121.464 178.497C121.464 178.535 121.529 178.535 121.534 178.497C121.735 177.301 122.317 176.203 123.194 175.366C124.07 174.528 125.194 173.997 126.397 173.85C126.408 173.853 126.42 173.851 126.431 173.845C126.441 173.839 126.448 173.829 126.451 173.818C126.454 173.806 126.452 173.794 126.446 173.784C126.44 173.774 126.43 173.767 126.418 173.764Z"
        fill="#263238" />
      <path
        d="M115.834 168.404C113.414 168.377 110.61 169.242 109.108 171.23C109.054 171.306 109.162 171.387 109.232 171.349C111.347 170.233 113.575 169.345 115.878 168.702C115.913 168.692 115.944 168.669 115.964 168.639C115.984 168.608 115.993 168.57 115.987 168.534C115.982 168.497 115.964 168.464 115.935 168.44C115.907 168.416 115.871 168.404 115.834 168.404Z"
        fill="#263238" />
      <path
        d="M117.715 169.123C115.289 169.123 112.485 169.966 110.988 171.948C110.929 172.03 111.037 172.111 111.112 172.073C113.224 170.953 115.45 170.063 117.752 169.42C117.788 169.41 117.818 169.388 117.838 169.358C117.858 169.328 117.867 169.291 117.862 169.255C117.858 169.219 117.84 169.186 117.813 169.161C117.786 169.137 117.751 169.123 117.715 169.123Z"
        fill="#263238" />
      <path
        d="M119.584 169.847C117.163 169.847 114.359 170.684 112.857 172.673C112.803 172.748 112.911 172.829 112.982 172.792C115.096 171.675 117.324 170.788 119.627 170.144C119.663 170.134 119.694 170.112 119.714 170.081C119.734 170.05 119.742 170.013 119.737 169.976C119.732 169.94 119.713 169.907 119.685 169.883C119.657 169.859 119.621 169.846 119.584 169.847Z"
        fill="#263238" />
      <path
        d="M121.459 170.571C119.033 170.544 116.229 171.408 114.732 173.396C114.673 173.472 114.786 173.553 114.856 173.515C116.971 172.398 119.199 171.511 121.502 170.868C121.538 170.858 121.568 170.836 121.589 170.805C121.609 170.774 121.617 170.737 121.612 170.7C121.606 170.664 121.588 170.63 121.56 170.606C121.532 170.583 121.496 170.57 121.459 170.571Z"
        fill="#263238" />
      <path
        d="M94.5527 173.283C91.8513 173.283 91.8513 177.524 94.5527 177.508C97.2541 177.492 97.2757 173.267 94.5527 173.283Z"
        fill="#263238" />
      <path
        d="M118.433 161.932C117.207 160.916 115.661 161.932 114.91 162.975C113.66 164.818 112.915 166.956 112.749 169.177C112.749 169.226 112.787 169.247 112.825 169.247C112.835 169.293 112.855 169.336 112.885 169.372C112.914 169.408 112.952 169.437 112.995 169.455C113.038 169.474 113.084 169.482 113.131 169.478C113.178 169.475 113.223 169.461 113.263 169.436C114.981 168.242 116.969 167.173 118.271 165.481C119.011 164.498 119.616 162.877 118.433 161.932ZM115.483 167.086C114.651 167.697 113.792 168.264 112.982 168.907C113.414 167.697 113.787 166.476 114.338 165.309C114.592 164.749 114.885 164.207 115.213 163.688C115.753 162.883 118.109 160.851 118.357 163.482C118.498 164.925 116.472 166.362 115.483 167.086Z"
        fill="#263238" />
      <path
        d="M106.72 170.095C108.827 170.409 111.004 169.804 113.074 169.474C113.119 169.462 113.16 169.44 113.195 169.41C113.23 169.379 113.257 169.34 113.274 169.297C113.292 169.254 113.299 169.208 113.295 169.161C113.291 169.115 113.276 169.071 113.252 169.031C113.26 169.025 113.266 169.017 113.27 169.008C113.275 168.999 113.277 168.99 113.277 168.98C113.277 168.97 113.275 168.96 113.27 168.951C113.266 168.942 113.26 168.934 113.252 168.928C111.589 167.445 109.566 166.426 107.384 165.973C106.109 165.73 104.305 166.081 104.143 167.664C103.948 169.155 105.488 169.901 106.72 170.095ZM105.25 168.723C103.629 166.648 106.725 166.47 107.655 166.686C108.257 166.837 108.85 167.028 109.427 167.259C110.608 167.749 111.764 168.299 112.89 168.907C111.863 169.009 110.853 169.193 109.832 169.334C108.611 169.496 106.158 169.863 105.25 168.723Z"
        fill="#263238" />
      <path
        d="M51.7138 55.4692C51.7138 55.4692 79.7382 103.144 80.4892 106.493C81.64 111.637 87.7398 162.429 87.7398 162.429L116.915 161.888C116.915 161.888 111.89 117.105 107.13 102.349C103.705 91.7221 78.971 56.4742 78.971 56.4742L51.7138 55.4692Z"
        fill="#37474F" />
      <path
        d="M114.262 157.437C110.075 157.404 95.2334 157.237 89.6577 157.756C89.6145 157.756 89.6199 157.831 89.6577 157.837C91.5757 158.112 110.07 157.685 114.257 157.55C114.266 157.553 114.275 157.554 114.284 157.553C114.293 157.552 114.302 157.549 114.31 157.544C114.318 157.539 114.324 157.532 114.329 157.524C114.333 157.515 114.336 157.506 114.336 157.497C114.337 157.488 114.335 157.479 114.331 157.47C114.327 157.462 114.322 157.454 114.314 157.448C114.307 157.442 114.299 157.438 114.29 157.436C114.281 157.434 114.271 157.434 114.262 157.437Z"
        fill="#263238" />
      <path
        d="M56.4952 59.8456C58.3322 62.7253 60.2772 65.5456 62.1466 68.4036C64.0159 71.2617 65.8961 74.1198 67.7493 76.9725C71.4448 82.7355 75.0467 88.5363 78.5549 94.375C80.2671 97.0814 81.7318 99.9366 82.9312 102.906C84.0261 105.876 84.8489 108.939 85.3895 112.058C85.9622 115.187 86.3404 118.347 86.6916 121.508C87.0517 124.868 87.4281 128.231 87.8207 131.595C88.5879 138.478 89.3569 145.361 90.1277 152.245C90.2196 153.087 90.3114 153.93 90.3979 154.778C90.3979 154.903 90.1872 154.924 90.171 154.778C89.3119 147.944 88.5987 141.082 87.8207 134.248C87.4317 130.837 87.0445 127.428 86.6591 124.02C86.2971 120.849 85.9514 117.672 85.4597 114.522C85.0085 111.413 84.3222 108.343 83.4066 105.337C82.3978 102.225 81.046 99.2356 79.3761 96.4226C75.9994 90.593 72.4227 84.866 68.8461 79.1336C65.2694 73.4012 61.5955 67.6202 57.8243 61.9581C57.3597 61.2611 56.8896 60.5642 56.4034 59.878C56.3656 59.8402 56.4628 59.7916 56.4952 59.8456Z"
        fill="#263238" />
      <path
        d="M60.8986 183.024C59.5695 182.943 25.24 169.036 24.2891 167.718C24.2467 167.64 24.2279 167.552 24.235 167.464C24.235 166.281 26.6177 162.153 28.6059 156.729C28.7302 156.383 29.6163 154.773 30.8427 152.606C34.2519 146.669 40.195 136.441 40.195 136.441L62.6329 145.356L51.8921 161.429L50.2226 165.319C50.2226 165.319 60.7527 176.206 61.6387 177.746C62.5248 179.285 62.2222 183.1 60.8986 183.024Z"
        fill="#F7A9A0" />
      <path
        d="M60.8986 183.024C59.5695 182.943 25.24 169.036 24.2891 167.718C24.2467 167.641 24.2279 167.552 24.235 167.464C24.235 166.281 26.6177 162.153 28.6059 156.729C28.7302 156.383 29.6163 154.773 30.8427 152.606L51.9137 161.429L50.2442 165.319C50.2442 165.319 60.7743 176.206 61.6603 177.746C62.5464 179.286 62.2222 183.1 60.8986 183.024Z"
        fill="white" />
      <path
        d="M60.8986 183.025C59.5695 182.943 25.24 169.037 24.2891 167.718C23.9217 167.216 25.4561 162.532 28.6113 156.729L50.2226 165.325C50.2226 165.325 60.7527 176.201 61.6441 177.751C62.5356 179.302 62.2223 183.1 60.8986 183.025Z"
        fill="#A6A6A6" />
      <path
        d="M60.9525 181.49C55.393 179.102 32.7336 169.993 27.0553 168.059C27.0066 168.059 26.9958 168.059 27.0553 168.091C32.5175 170.576 55.2472 179.502 60.9309 181.598C61.039 181.625 61.0714 181.539 60.9525 181.49Z"
        fill="#263238" />
      <path
        d="M59.9801 175.693C59.3636 175.422 58.6976 175.282 58.0242 175.282C57.3509 175.282 56.6849 175.422 56.0684 175.693C54.96 176.178 54.0814 177.072 53.6155 178.189C53.6155 178.221 53.6642 178.248 53.6804 178.216C54.3173 177.18 55.2728 176.378 56.4037 175.931C57.5346 175.484 58.7799 175.416 59.953 175.736C59.9621 175.733 59.9699 175.728 59.9749 175.72C59.9799 175.712 59.9818 175.702 59.9801 175.693Z"
        fill="#263238" />
      <path
        d="M52.1838 166.756C49.9525 165.822 47.0242 165.573 44.89 166.854C44.809 166.902 44.89 167.016 44.9603 167.01C47.3393 166.769 49.7373 166.782 52.1136 167.048C52.1502 167.052 52.1869 167.043 52.217 167.022C52.2471 167 52.2684 166.969 52.277 166.933C52.2857 166.897 52.2809 166.86 52.2638 166.827C52.2466 166.795 52.2182 166.77 52.1838 166.756Z"
        fill="#263238" />
      <path
        d="M53.648 168.129C51.4166 167.194 48.4883 166.946 46.3542 168.226C46.2731 168.275 46.3542 168.388 46.4244 168.383C48.8033 168.139 51.2015 168.151 53.5777 168.42C53.6143 168.424 53.6511 168.415 53.6811 168.394C53.7112 168.373 53.7326 168.341 53.7412 168.305C53.7498 168.27 53.7451 168.232 53.7279 168.2C53.7107 168.167 53.6823 168.142 53.648 168.129Z"
        fill="#263238" />
      <path
        d="M55.1175 169.501C52.8808 168.566 49.9524 168.318 47.8237 169.598C47.7373 169.647 47.8237 169.76 47.8886 169.755C50.2675 169.511 52.6657 169.524 55.0419 169.793C55.0792 169.799 55.1175 169.791 55.1492 169.771C55.181 169.75 55.2038 169.718 55.2133 169.682C55.2228 169.645 55.2183 169.606 55.2005 169.573C55.1828 169.539 55.1532 169.514 55.1175 169.501Z"
        fill="#263238" />
      <path
        d="M56.5817 170.873C54.3449 169.939 51.422 169.69 49.2879 170.965C49.2015 171.019 49.2879 171.133 49.3527 171.127C51.7316 170.883 54.1299 170.896 56.5061 171.165C56.5434 171.171 56.5817 171.163 56.6134 171.143C56.6451 171.122 56.668 171.091 56.6775 171.054C56.687 171.017 56.6824 170.978 56.6647 170.945C56.647 170.912 56.6173 170.886 56.5817 170.873Z"
        fill="#263238" />
      <path
        d="M30.6212 163.293C28.0981 162.289 26.5313 166.216 29.0652 167.221C31.5991 168.226 33.1713 164.298 30.6212 163.293Z"
        fill="#263238" />
      <path
        d="M57.0193 161.732C56.2575 160.332 54.4584 160.678 53.3616 161.375C51.5141 162.613 50.0237 164.314 49.0394 166.308C49.035 166.317 49.0328 166.326 49.0327 166.336C49.0326 166.346 49.0347 166.355 49.0388 166.364C49.043 166.373 49.0491 166.381 49.0567 166.387C49.0642 166.393 49.0731 166.398 49.0826 166.4C49.0826 166.578 49.2015 166.789 49.4122 166.746C51.4598 166.276 53.702 166.032 55.539 164.952C56.5925 164.325 57.7379 163.055 57.0193 161.732ZM52.3459 165.4C51.3464 165.654 50.3415 165.859 49.3527 166.151C50.1706 165.166 51.0379 164.223 51.9515 163.326C52.4012 162.897 52.8796 162.5 53.3832 162.137C54.1667 161.597 57.1274 160.597 56.371 163.131C55.955 164.53 53.5399 165.098 52.3459 165.4Z"
        fill="#263238" />
      <path
        d="M43.0962 164.903C44.9332 165.984 47.1754 166.238 49.2176 166.713C49.4283 166.762 49.5688 166.551 49.5526 166.367C49.5627 166.366 49.5724 166.363 49.5807 166.357C49.589 166.351 49.5957 166.343 49.6 166.334C49.6044 166.324 49.6063 166.314 49.6055 166.304C49.6048 166.294 49.6014 166.284 49.5958 166.276C48.6131 164.277 47.1226 162.573 45.2736 161.332C44.193 160.63 42.3831 160.278 41.6159 161.672C40.8487 163.066 42.0211 164.271 43.0962 164.903ZM42.2534 163.077C41.5024 160.543 44.4577 161.548 45.2412 162.094C45.7442 162.458 46.2208 162.857 46.6675 163.288C47.5793 164.187 48.4449 165.132 49.2609 166.119C48.2721 165.827 47.2672 165.616 46.2677 165.362C45.0575 165.038 42.664 164.498 42.2534 163.077Z"
        fill="#263238" />
      <path
        d="M53.6372 160.532L28.5195 150.391C28.5195 150.391 59.6614 104.602 59.8883 101.193C60.0936 98.1784 46.4137 71.9099 45.8788 64.2542C45.2953 55.9878 49.2717 49.5963 53.648 45.6252L79.5545 56.6416C79.5545 56.6416 76.8207 61.0125 72.5309 63.4491C72.5309 63.4491 85.8164 93.813 85.06 103.149C84.3036 112.485 53.6372 160.532 53.6372 160.532Z"
        fill="#37474F" />
      <path
        d="M54.7501 155.756C51.1194 154.195 52.1838 154.589 48.5315 153.055C46.7486 152.309 35.0245 147.431 33.2199 147.025C33.1821 147.025 33.1551 147.079 33.1929 147.101C34.7543 148.057 46.5757 152.731 48.3748 153.444C52.0541 154.892 51.0114 154.438 54.7069 155.843C54.7124 155.85 54.7198 155.856 54.7282 155.86C54.7366 155.863 54.7458 155.865 54.755 155.864C54.7642 155.863 54.773 155.86 54.7806 155.855C54.7882 155.85 54.7943 155.843 54.7985 155.835C54.8026 155.826 54.8045 155.817 54.8041 155.808C54.8037 155.799 54.8009 155.79 54.7961 155.782C54.7913 155.774 54.7845 155.768 54.7764 155.763C54.7684 155.759 54.7593 155.756 54.7501 155.756Z"
        fill="#263238" />
      <path
        d="M76.7775 62.8927C74.0803 63.5214 71.4415 64.3781 68.8894 65.4536C68.8791 65.4572 68.8696 65.4627 68.8614 65.4699C68.8533 65.4771 68.8466 65.4859 68.8419 65.4957C68.8371 65.5054 68.8343 65.5161 68.8336 65.5269C68.833 65.5378 68.8345 65.5487 68.838 65.559C68.8416 65.5693 68.8471 65.5787 68.8543 65.5869C68.8615 65.595 68.8703 65.6017 68.8801 65.6065C68.8899 65.6112 68.9005 65.614 68.9113 65.6147C68.9222 65.6153 68.9331 65.6138 68.9434 65.6103C71.5908 64.8377 74.2814 64.1137 76.8855 63.2006C77.0854 63.1304 76.9828 62.8495 76.7775 62.8927Z"
        fill="#263238" />
      <path
        d="M73.6924 61.8445C73.4407 62.2923 73.2187 62.7561 73.0279 63.233C72.8414 63.595 72.7259 63.9893 72.6875 64.3946C72.6875 64.4757 72.7956 64.4919 72.8442 64.4433C73.1152 64.119 73.334 63.7545 73.4925 63.3627C73.714 62.9359 73.941 62.5145 74.1517 62.0768C74.2975 61.7581 73.8599 61.5528 73.6924 61.8445Z"
        fill="#263238" />
      <path
        d="M74.0166 59.3916C74.1787 58.9918 74.3354 58.5974 74.5029 58.1976C74.6703 57.7978 74.8811 57.3872 75.0431 56.9658C75.0431 56.9009 75.1728 56.9658 75.1458 57.0144C74.9837 57.4142 74.8811 57.8356 74.7568 58.2462C74.6325 58.6568 74.4921 59.0674 74.357 59.4781C74.1031 60.2399 73.8167 60.9963 73.4655 61.7364C73.8907 61.7577 74.3152 61.6838 74.7082 61.5203C75.1096 61.2634 75.4182 60.8848 75.5888 60.4398C75.8157 59.9967 76.0265 59.5429 76.2588 59.0999C76.5447 58.6209 76.7853 58.1162 76.9774 57.5925C76.9774 57.5277 77.107 57.5925 77.08 57.6411C76.7277 58.7485 76.2662 59.8181 75.7023 60.8342C75.4592 61.2286 75.2701 61.6446 74.827 61.7959C74.3475 61.93 73.8456 61.9649 73.3521 61.8985C73.2872 61.8985 73.2116 61.8985 73.2332 61.8013C73.4544 60.9856 73.7159 60.1814 74.0166 59.3916Z"
        fill="#263238" />
      <path
        d="M72.9144 64.4379C73.8383 66.3883 74.6487 68.3333 75.5077 70.2783C76.3668 72.2233 77.1286 74.1035 77.9012 76.0377C79.4464 79.9385 80.8295 83.915 82.0452 87.9239C82.6449 89.9121 83.2014 91.9166 83.6984 93.9372C84.2459 95.9514 84.6468 98.0027 84.8978 100.075C85.1146 102.144 84.9312 104.235 84.3576 106.234C83.7617 108.21 82.9971 110.132 82.0722 111.977C81.5049 113.144 81.3158 112.988 81.5859 112.399C82.3585 110.724 84.3846 105.651 84.2387 101.388C84.1205 99.3469 83.8057 97.3223 83.2986 95.342C82.8268 93.2997 82.2955 91.2736 81.7048 89.2638C80.554 85.2981 79.1871 81.4135 77.7823 77.5343C76.9935 75.3731 76.1615 73.212 75.3511 71.0509C74.5406 68.8898 73.7302 66.9015 72.8225 64.5135C72.7955 64.4162 72.8874 64.3784 72.9144 64.4379Z"
        fill="#263238" />
      <path
        d="M53.8479 57.9924C54.2963 57.8249 54.9284 58.1004 55.3823 58.1761C55.97 58.2758 56.5639 58.3354 57.1598 58.3544C57.7493 58.3751 58.3397 58.3553 58.9265 58.2949C59.5175 58.2797 60.0967 58.1261 60.6176 57.8465C61.4722 57.2239 62.2048 56.4492 62.7787 55.5611C63.4625 54.6536 64.0272 53.6622 64.459 52.6112C64.459 52.5463 64.5724 52.6112 64.5508 52.6544C64.3617 53.2541 64.2213 53.8592 64.0105 54.4481C63.7776 55.0014 63.4993 55.5345 63.1785 56.042C62.6583 57.063 61.889 57.9364 60.9417 58.5813C59.899 59.1756 58.5591 59.1216 57.3975 59.0729C56.7238 59.0336 56.0539 58.9452 55.3931 58.8082C54.9176 58.7055 54.118 58.6299 53.8154 58.2139C53.8012 58.198 53.7906 58.1791 53.7845 58.1587C53.7784 58.1382 53.7768 58.1167 53.7799 58.0956C53.7829 58.0744 53.7906 58.0542 53.8024 58.0364C53.8141 58.0186 53.8297 58.0035 53.8479 57.9924Z"
        fill="#263238" />
      <path
        d="M35.689 145.588C39.8168 139.335 43.8689 133.032 47.8454 126.678C51.8218 120.325 55.7443 113.922 59.6127 107.471C60.5366 105.931 61.6009 104.397 62.1952 102.69C62.8436 100.837 62.4762 99.0375 61.8927 97.2221C60.7909 93.9104 59.5029 90.6636 58.0351 87.4971C56.5871 84.304 55.0257 81.165 53.4913 78.0151C51.9569 74.8653 50.3523 71.7533 49.169 68.4684C48.0885 65.3293 47.6509 62.0768 48.4937 58.8243C49.3365 55.5718 51.1519 52.6975 53.0483 49.9907C53.5453 49.2776 54.0586 48.5698 54.5611 47.8296C54.5989 47.7756 54.6799 47.8296 54.6421 47.8944C52.5512 50.7147 50.5143 53.7025 49.2879 57.0144C48.6611 58.6469 48.3105 60.3724 48.2506 62.1201C48.2403 63.8941 48.5158 65.6581 49.0664 67.3446C50.0821 70.6295 51.6868 73.7361 53.1833 76.8265C54.6799 79.9169 56.2792 83.1154 57.7541 86.2976C59.2758 89.5004 60.6283 92.7809 61.8062 96.1254C62.3087 97.6112 62.8868 99.1672 62.8436 100.761C62.8058 102.506 61.9737 104.078 61.1093 105.548C57.3273 111.95 53.4535 118.277 49.5094 124.566C45.5654 130.855 41.5079 137.144 37.4017 143.368L35.8457 145.718C35.7647 145.815 35.6242 145.702 35.689 145.588Z"
        fill="#263238" />
      <path
        d="M80.9916 27.5205C83.331 32.6531 95.147 39.7254 100.679 40.4872C104.656 41.0275 116.747 41.222 120.891 40.5899C125.754 39.8443 122.037 26.7425 119.168 27.0828C111.28 28.0013 104.58 29.0279 102.473 29.0279C99.9014 29.0279 85.9892 24.5651 84.3143 23.933C80.2082 22.404 79.6679 24.6084 80.9916 27.5205Z"
        fill="#F7A9A0" />
      <path
        d="M81.0673 28.8873C84.028 33.269 93.8665 40.4331 93.8665 40.4331L95.2334 37.4076L99.7556 27.4016C99.7556 27.4016 90.7167 24.5651 84.7682 23.2684C84.0682 23.1091 83.3562 23.0079 82.6395 22.9658C78.8413 22.7605 78.5117 25.1054 81.0673 28.8873Z"
        fill="#79A3F8" />
      <path
        d="M81.0673 28.8873C84.028 33.269 93.8665 40.4331 93.8665 40.4331L95.2334 37.4076C91.5649 33.1448 85.8974 26.6884 82.6395 22.9767C78.8413 22.7605 78.5117 25.1054 81.0673 28.8873Z"
        fill="#263238" />
      <path
        d="M92.0944 38.4018C92.8454 36.5595 96.1843 29.1414 97.0164 27.5962C97.0704 27.4882 97.1568 27.499 97.1082 27.5962C95.6599 31.2852 94.0114 34.8924 92.17 38.4018C92.1484 38.4667 92.062 38.4451 92.0944 38.4018Z"
        fill="#263238" />
      <path
        d="M117.72 27.2178C122.518 26.5911 128.455 25.516 133.485 27.6501C134.05 27.8717 134.524 28.277 134.831 28.8009C137.1 29.7193 137.348 31.0646 137.348 31.0646C139.202 32.5666 139.266 33.9822 139.266 33.9822C139.266 33.9822 141.925 35.0627 141.519 36.8024C141.076 38.7258 137.435 36.8024 134.787 36.9591C128.709 37.3373 120.2 39.5687 118.444 39.8496L117.72 27.2178Z"
        fill="#F7A9A0" />
      <path
        d="M128.142 32.8801C129.919 32.7585 131.703 32.7585 133.48 32.8801C135.415 33.1229 137.33 33.5112 139.207 34.0417C139.219 34.046 139.233 34.0453 139.244 34.0397C139.256 34.0341 139.265 34.0241 139.269 34.012C139.273 33.9998 139.273 33.9864 139.267 33.9747C139.262 33.9631 139.252 33.9541 139.239 33.9498C135.713 32.5663 131.874 32.1775 128.142 32.826C128.056 32.8152 128.056 32.8855 128.142 32.8801Z"
        fill="#263238" />
      <path
        d="M127.013 27.2666C129.979 27.4179 131.832 27.8934 134.814 28.7902V28.7578C131.53 27.3855 130.184 27.2558 126.997 27.137C126.894 27.1802 126.899 27.2666 127.013 27.2666Z"
        fill="#263238" />
      <path
        d="M127.494 37.8777C126.721 38.2397 126.91 38.6449 128.385 38.9853C129.86 39.3256 135.992 39.4283 135.776 41.5678C135.56 43.7073 126.91 43.4372 124.495 42.6808C122.08 41.9244 118.444 39.8497 118.444 39.8497C120.157 39.5634 124.176 38.4774 127.494 37.8777Z"
        fill="#F7A9A0" />
      <path
        d="M87.4155 35.7004C87.3777 36.6243 87.2913 37.5644 87.1616 38.4991C87.1616 38.4612 87.1616 38.4288 87.1994 38.3964C87.3777 37.9102 87.556 37.4131 87.7721 36.9431C87.7721 36.9431 87.8262 36.9431 87.8208 36.9431C87.7169 37.4581 87.5612 37.9613 87.3561 38.445C87.2589 38.6774 87.167 38.9043 87.0644 39.1312C86.9995 39.5472 86.9239 39.9578 86.8428 40.3684C86.6808 41.141 85.9514 44.4259 85.7623 44.9824C85.7299 45.0959 85.5894 45.0689 85.6002 44.9392C85.638 44.3341 86.2485 40.9141 86.3728 40.1361C86.6142 38.6339 86.937 37.146 87.3399 35.6788C87.3669 35.6518 87.4209 35.6734 87.4155 35.7004Z"
        fill="#263238" />
      <path
        d="M81.7966 60.2669C80.3541 61.0071 78.4955 62.1579 70.1212 60.5101C69.5809 60.402 69.073 60.2724 68.5435 60.1157C60.6933 57.76 51.2545 48.5266 50.7413 47.8729C50.7413 47.8729 63.2164 27.6502 79.1709 21.291C81.1429 20.5076 84.4062 22.0204 86.1945 23.906C86.8375 24.5814 88.2368 29.5465 87.7019 33.5662C87.167 37.5859 83.2338 59.5268 81.7966 60.2669Z"
        fill="#79A3F8" />
      <path
        d="M80.6728 33.3826C80.7331 34.2371 80.6134 35.0948 80.3217 35.9003C80.2531 35.0455 80.373 34.186 80.6728 33.3826Z"
        fill="white" />
      <path
        d="M75.2322 47.1543C75.2666 47.5796 75.2521 48.0074 75.189 48.4294C75.1369 48.8545 75.0335 49.2718 74.881 49.672C74.8438 49.245 74.8583 48.8151 74.9242 48.3915C74.9795 47.9688 75.0828 47.5536 75.2322 47.1543Z"
        fill="white" />
      <path
        d="M65.988 36.743C66.0488 37.5994 65.9292 38.459 65.6368 39.2662C65.5689 38.4096 65.6888 37.5485 65.988 36.743Z"
        fill="white" />
      <path
        d="M84.2333 46.4519C84.2678 46.879 84.2533 47.3086 84.1901 47.7324C84.1381 48.1575 84.0347 48.5748 83.8822 48.975C83.8449 48.548 83.8595 48.1181 83.9254 47.6946C83.98 47.2699 84.0833 46.8529 84.2333 46.4519Z"
        fill="white" />
      <path
        d="M72.3633 34.9603C72.7884 34.9241 73.2162 34.9368 73.6383 34.9981C74.0637 35.052 74.4809 35.1572 74.881 35.3115C74.0264 35.3728 73.1685 35.2532 72.3633 34.9603Z"
        fill="white" />
      <path
        d="M61.8711 44.9066C62.7257 44.8464 63.5834 44.966 64.3888 45.2578C63.534 45.3263 62.6745 45.2065 61.8711 44.9066Z"
        fill="white" />
      <path
        d="M74.2327 55.6746C75.0873 55.6132 75.9452 55.7329 76.7504 56.0258C75.8956 56.0932 75.0364 55.9734 74.2327 55.6746Z"
        fill="white" />
      <path
        d="M58.6348 51.763C59.4893 51.7027 60.347 51.8224 61.1525 52.1142C60.2977 52.1816 59.4385 52.0618 58.6348 51.763Z"
        fill="white" />
      <path
        d="M80.5918 23.7006C81.4464 23.6403 82.304 23.76 83.1095 24.0518C82.2549 24.112 81.3973 23.9924 80.5918 23.7006Z"
        fill="white" />
      <path
        d="M77.5392 27.1477C77.2661 27.4761 76.954 27.77 76.6099 28.023C76.2751 28.2819 75.9128 28.5029 75.5294 28.6821C75.8007 28.3559 76.1089 28.0622 76.4478 27.8068C76.7858 27.547 77.1519 27.3259 77.5392 27.1477Z"
        fill="white" />
      <path
        d="M60.9039 36.943C60.6274 37.2685 60.3137 37.5604 59.9692 37.8128C59.6378 38.0766 59.2749 38.298 58.8887 38.472C59.1666 38.1479 59.4801 37.8561 59.8234 37.6021C60.1555 37.3395 60.5184 37.1182 60.9039 36.943Z"
        fill="white" />
      <path
        d="M81.6778 41.3625C81.4014 41.6897 81.0877 41.9835 80.7431 42.2378C80.4109 42.5005 80.0481 42.7218 79.6625 42.8969C79.9389 42.5698 80.2526 42.276 80.5972 42.0217C80.9312 41.7617 81.2937 41.5405 81.6778 41.3625Z"
        fill="white" />
      <path
        d="M68.2247 49.8341C67.9483 50.1613 67.6346 50.455 67.29 50.7094C66.9573 50.9712 66.5946 51.1925 66.2095 51.3685C66.4859 51.0413 66.7996 50.7476 67.1442 50.4933C67.4782 50.2332 67.8407 50.0121 68.2247 49.8341Z"
        fill="white" />
      <path
        d="M86.8321 29.7897C86.5557 30.1169 86.242 30.4106 85.8974 30.6649C85.5626 30.9238 85.2002 31.1449 84.8168 31.3241C85.0932 30.9969 85.4069 30.7031 85.7515 30.4488C86.0842 30.1869 86.447 29.9657 86.8321 29.7897Z"
        fill="white" />
      <path
        d="M86.5511 39.6067C86.2239 39.3303 85.9302 39.0166 85.6759 38.672C85.4129 38.34 85.1915 37.9772 85.0167 37.5914C85.3451 37.8646 85.639 38.1766 85.892 38.5207C86.1501 38.8579 86.3711 39.222 86.5511 39.6067Z"
        fill="white" />
      <path
        d="M56.5655 46.371C56.2383 46.0946 55.9446 45.7809 55.6903 45.4363C55.4302 45.1023 55.2091 44.7398 55.0311 44.3557C55.3583 44.6321 55.6521 44.9458 55.9064 45.2904C56.1683 45.6231 56.3895 45.9859 56.5655 46.371Z"
        fill="white" />
      <path
        d="M82.9043 54.4157C82.5759 54.1426 82.282 53.8305 82.029 53.4864C81.7701 53.1517 81.5491 52.7893 81.3699 52.4059C81.6971 52.6823 81.9908 52.996 82.2451 53.3406C82.5059 53.6721 82.7271 54.033 82.9043 54.4157Z"
        fill="white" />
      <path
        d="M69.7051 31.4808C69.378 31.2063 69.0843 30.8944 68.8299 30.5515C68.5721 30.216 68.3511 29.8537 68.1707 29.4709C68.4991 29.7441 68.793 30.0561 69.046 30.4002C69.3038 30.7358 69.5247 31.098 69.7051 31.4808Z"
        fill="white" />
      <path
        d="M69.9375 58.9973C69.6103 58.7209 69.3165 58.4072 69.0622 58.0626C68.803 57.728 68.582 57.3656 68.4031 56.9821C68.7314 57.2552 69.0253 57.5672 69.2783 57.9113C69.5383 58.2473 69.7594 58.6116 69.9375 58.9973Z"
        fill="white" />
      <path
        d="M72.1796 42.7672C71.8555 42.4893 71.5637 42.1757 71.3098 41.8325C71.046 41.5011 70.8246 41.1381 70.6506 40.752C70.9761 41.0284 71.2681 41.3421 71.5205 41.6866C71.7831 42.0188 72.0045 42.3817 72.1796 42.7672Z"
        fill="white" />
      <path
        d="M83.2716 29.2926C81.2348 28.9144 79.3222 24.7056 79.079 21.8745C79.079 21.68 80.0299 20.1402 81.1159 18.2114C81.775 17.039 82.472 15.7153 83.0285 14.4619C83.142 14.2079 83.8065 15.067 83.8065 15.067L85.2545 16.1475L90.0359 19.816C88.8973 21.1823 87.9302 22.6829 87.1562 24.2842C87.0798 24.4577 87.0219 24.6388 86.9834 24.8245C86.9812 24.855 86.9812 24.8857 86.9834 24.9163C86.6862 25.9861 85.2328 29.6546 83.2716 29.2926Z"
        fill="#F7A9A0" />
      <path
        d="M86.9834 24.8516C86.9813 24.8822 86.9813 24.9129 86.9834 24.9434C86.6995 24.8602 86.423 24.7536 86.1568 24.6247C80.9214 22.1718 83.2284 15.1589 83.2284 15.1589L85.2815 16.1747L90.063 19.8432C88.9244 21.2095 87.9573 22.71 87.1833 24.3113C87.0976 24.4838 87.0306 24.6649 86.9834 24.8516Z"
        fill="#263238" />
      <path
        d="M95.5306 4.88806C95.5306 4.88806 97.924 6.40625 97.9348 9.10766C97.9456 11.8091 96.8543 14.451 96.6273 14.5483C96.4004 14.6455 95.5306 4.88806 95.5306 4.88806Z"
        fill="#263238" />
      <path
        d="M83.6552 6.29284C82.218 9.12932 82.2937 18.071 84.0874 20.3726C86.6916 23.7115 91.7054 24.8623 94.7364 21.5612C97.6701 18.3627 97.3675 6.71426 95.2766 4.54233C92.2349 1.33306 85.7839 2.09485 83.6552 6.29284Z"
        fill="#F7A9A0" />
      <path
        d="M91.284 13.4514C91.284 13.4514 91.2354 13.4838 91.2408 13.5054C91.2732 14.116 91.2083 14.8183 90.6627 15.0344C90.6627 15.0344 90.6627 15.0723 90.6627 15.0669C91.338 14.9588 91.4136 14.0241 91.284 13.4514Z"
        fill="#263238" />
      <path
        d="M90.7275 12.8303C89.7442 12.7763 89.7118 14.7429 90.6248 14.7915C91.5379 14.8402 91.5487 12.8735 90.7275 12.8303Z"
        fill="#263238" />
      <path
        d="M94.6175 13.4299C94.6175 13.4299 94.6661 13.4299 94.6661 13.484C94.6337 14.0945 94.7039 14.7968 95.255 15.0076C95.255 15.0076 95.255 15.0454 95.255 15.04C94.5743 14.9373 94.4932 14.0026 94.6175 13.4299Z"
        fill="#263238" />
      <path
        d="M95.174 12.8032C96.1519 12.7438 96.2005 14.7104 95.2929 14.7644C94.3852 14.8184 94.3528 12.8518 95.174 12.8032Z"
        fill="#263238" />
      <path
        d="M90.1116 11.3337C90.3698 11.2602 90.624 11.1736 90.8734 11.0743C91.1572 11.023 91.4157 10.8785 91.6082 10.6637C91.6549 10.5851 91.6744 10.4932 91.6636 10.4024C91.6529 10.3116 91.6125 10.2268 91.5487 10.1612C91.4025 10.0501 91.2293 9.97998 91.047 9.95813C90.8646 9.93629 90.6797 9.96351 90.5114 10.037C90.1468 10.1346 89.8312 10.3636 89.6253 10.6799C89.5842 10.7552 89.5655 10.8406 89.5715 10.9262C89.5775 11.0117 89.6079 11.0937 89.6591 11.1625C89.7102 11.2313 89.7801 11.284 89.8603 11.3144C89.9405 11.3447 90.0277 11.3514 90.1116 11.3337Z"
        fill="#263238" />
      <path
        d="M95.8439 12.2034C95.5811 12.1447 95.3214 12.0725 95.0659 11.9873C94.7812 11.9496 94.5171 11.8185 94.3149 11.6145C94.2629 11.5394 94.2378 11.4489 94.2436 11.3576C94.2495 11.2664 94.2861 11.1799 94.3474 11.1121C94.4867 10.9929 94.6556 10.9135 94.8362 10.8821C95.0168 10.8508 95.2025 10.8686 95.3739 10.9338C95.7435 11.0103 96.0711 11.2223 96.2924 11.5281C96.3387 11.6004 96.3629 11.6847 96.3622 11.7706C96.3615 11.8565 96.3358 11.9403 96.2883 12.0119C96.2407 12.0835 96.1734 12.1397 96.0946 12.1737C96.0157 12.2077 95.9286 12.218 95.8439 12.2034Z"
        fill="#263238" />
      <path
        d="M89.9008 19.2271C90.0467 19.373 90.1872 19.5675 90.4087 19.5891C90.6358 19.589 90.8604 19.5411 91.0679 19.4486C91.0679 19.4486 91.1057 19.4486 91.0679 19.481C90.9793 19.5998 90.8601 19.6922 90.7231 19.7484C90.586 19.8045 90.4363 19.8223 90.2898 19.7998C90.1664 19.7661 90.0556 19.697 89.9711 19.601C89.8866 19.5049 89.8321 19.3862 89.8144 19.2595C89.8101 19.2481 89.8105 19.2353 89.8156 19.2242C89.8207 19.2131 89.83 19.2044 89.8414 19.2001C89.8529 19.1958 89.8656 19.1962 89.8767 19.2013C89.8879 19.2063 89.8965 19.2156 89.9008 19.2271Z"
        fill="#263238" />
      <path
        d="M93.4343 16.6229C93.4343 16.6229 93.4613 17.5306 93.4343 17.9574C92.6041 17.8693 91.7657 17.8984 90.9436 18.0438C90.7491 18.0871 90.7707 17.9304 90.9922 17.8277C91.6544 17.5251 92.3919 17.4272 93.1101 17.5468C93.1533 17.4333 93.0399 16.1421 93.1101 16.1475C93.4369 16.2116 93.7533 16.3207 94.0502 16.4716C94.0502 14.5698 93.7477 12.6897 93.7747 10.7879C93.7747 10.723 93.8773 10.7122 93.8881 10.7879C94.2721 12.7997 94.4531 14.845 94.4284 16.893C94.4338 17.1254 93.5964 16.7093 93.4343 16.6229Z"
        fill="#263238" />
      <path
        d="M92.2186 17.6333C92.0033 18.1998 91.6037 18.6775 91.084 18.9894C90.2682 19.319 90.0035 18.5788 90.8247 17.9089C91.2554 17.6912 91.7375 17.5959 92.2186 17.6333Z"
        fill="#263238" />
      <path
        d="M91.3704 18.8219C91.2842 18.8922 91.1876 18.9487 91.0841 18.9894C90.3331 19.292 90.0359 18.6923 90.641 18.0872C91.0516 18.1196 91.5217 18.2709 91.3704 18.8219Z"
        fill="#FF99BA" />
      <path
        d="M83.2446 13.9378C84.2333 14.2404 85.3679 11.2688 85.6921 10.1558C85.973 9.15091 86.2972 5.95785 86.3458 5.73633C86.3945 5.51482 90.6681 8.56201 93.1426 7.83803C95.6171 7.11405 97.2973 4.87188 97.3352 3.82914C97.373 2.7864 94.2772 0.139017 91.6028 0.00394669C88.9284 -0.131124 85.3031 3.24564 85.3031 3.24564C85.741 2.74868 86.1385 2.21751 86.4917 1.65721C86.4485 1.53834 84.7196 2.22991 84.4008 3.46175C84.4008 3.46175 84.7466 1.91114 84.6169 1.88412C84.4873 1.85711 83.142 3.1808 83.4445 4.18572C83.4445 4.18572 81.8885 5.53103 81.748 7.00599C81.6076 8.48096 82.083 13.5812 83.2446 13.9378Z"
        fill="#263238" />
      <path
        d="M94.9147 7.27611C94.1788 7.67513 93.3863 7.95935 92.5645 8.11895C91.6421 8.20122 90.7138 8.05269 89.8631 7.68673C89.0061 7.35567 88.2101 6.88462 87.5075 6.2928C86.8861 5.78494 86.3297 5.16361 85.6651 4.70978C85.4976 4.59091 85.3085 4.83404 85.4112 4.98532C86.5199 6.55136 88.1037 7.71842 89.9279 8.31345C90.7752 8.58969 91.6796 8.64131 92.5527 8.46327C93.4259 8.28523 94.2379 7.88362 94.9093 7.29772C94.9093 7.29772 94.9255 7.27611 94.9147 7.27611Z"
        fill="#263238" />
      <path
        d="M84.2765 13.673C84.2765 13.673 82.7421 10.561 81.359 11.0634C79.9759 11.5659 80.8187 15.8719 82.2397 16.6608C82.4137 16.7734 82.6087 16.8497 82.813 16.8851C83.0172 16.9205 83.2266 16.9143 83.4284 16.8669C83.6302 16.8195 83.8203 16.7318 83.9874 16.6091C84.1545 16.4864 84.2951 16.3312 84.4008 16.1529L84.2765 13.673Z"
        fill="#F7A9A0" />
      <path
        d="M81.6345 12.2899C81.6345 12.2899 81.6021 12.2899 81.6345 12.3331C82.6178 12.9166 83.0176 13.954 83.2554 15.0345C83.2106 14.9202 83.1415 14.8169 83.0529 14.7318C82.9643 14.6467 82.8583 14.5819 82.7422 14.5418C82.6261 14.5017 82.5026 14.4874 82.3804 14.4997C82.2582 14.512 82.1401 14.5507 82.0343 14.6131C82.0019 14.6131 82.0343 14.6726 82.0343 14.6726C82.2276 14.6425 82.4255 14.6731 82.6006 14.7602C82.7757 14.8473 82.9196 14.9866 83.0122 15.1588C83.1669 15.4473 83.2901 15.7516 83.3796 16.0665C83.412 16.1691 83.5903 16.1421 83.5741 16.0287C83.8065 14.6834 83.0501 12.6465 81.6345 12.2899Z"
        fill="#263238" />
      <path
        d="M74.1463 27.569C73.0657 33.6904 79.7004 54.313 83.9524 58.1652C90.2791 63.8922 101.976 67.6579 106.217 68.8844C108.065 69.4247 113.176 56.4201 111.307 55.561C107.303 53.7403 94.8661 49.8503 93.6829 48.8778C92.4997 47.9052 85.3679 37.6021 82.1911 31.6698C77.9391 23.6844 74.6812 24.4732 74.1463 27.569Z"
        fill="#F7A9A0" />
      <path
        d="M108.157 54.4158C108.157 54.4158 113.679 55.8259 117.239 56.9119C119.227 57.5224 122.545 58.8677 123.803 59.9807C125.684 61.6501 132.48 69.8192 130.535 71.5103C128.774 73.0447 123.825 65.2808 123.825 65.2808C123.825 65.2808 129.509 72.6719 127.067 74.1252C124.625 75.5786 120.157 66.0642 120.157 66.0642C120.157 66.0642 125.824 73.7903 123.052 74.887C120.956 75.7137 116.461 67.3231 116.461 67.3231C116.461 67.3231 121.291 73.9956 119.162 74.9411C116.818 75.9892 112.187 68.5009 112.187 68.5009C106.396 69.9975 103.003 68.3388 100.771 66.8801C100.247 66.5235 108.157 54.4158 108.157 54.4158Z"
        fill="#F7A9A0" />
      <path
        d="M122.021 62.5956C122.723 63.4385 123.436 64.2921 124.057 65.1944C124.679 66.0966 125.268 67.0259 125.803 67.9822C126.527 69.2191 127.107 70.5353 127.531 71.9047C126.602 69.5274 124.425 66.2587 123.804 65.3565C123.182 64.4542 122.604 63.5195 121.988 62.6172C121.972 62.5956 122.004 62.574 122.021 62.5956Z"
        fill="#263238" />
      <path
        d="M118.72 64.7837C119.919 65.7346 122.431 69.268 123.398 71.6399C123.442 71.7371 123.398 71.7317 123.328 71.6399C122.572 70.4675 119.503 65.9291 118.692 64.7999C118.676 64.7837 118.703 64.7675 118.72 64.7837Z"
        fill="#263238" />
      <path
        d="M115.548 66.1667C117.038 67.7299 118.216 69.5638 119.017 71.5696C119.054 71.6668 118.979 71.6506 118.919 71.5696C117.801 69.7488 116.937 68.3279 115.489 66.2154C115.467 66.1667 115.516 66.1181 115.548 66.1667Z"
        fill="#263238" />
      <path
        d="M80.1757 28.0176C75.243 21.0425 72.293 23.6251 73.2818 31.1998C74.211 38.2829 76.6909 46.7221 76.6909 46.7221L89.1174 40.6926C89.1174 40.6926 83.3148 32.4857 80.1757 28.0176Z"
        fill="#79A3F8" />
      <path
        d="M83.1743 30.7621C83.3381 31.1561 83.456 31.5676 83.5255 31.9885C83.6014 32.4108 83.6286 32.8405 83.6066 33.269C83.4445 32.873 83.3285 32.4597 83.2608 32.0371C83.1804 31.6172 83.1514 31.189 83.1743 30.7621Z"
        fill="white" />
      <path
        d="M75.8103 35.0033C76.6033 34.6808 77.4566 34.5333 78.3118 34.5711C77.9176 34.7331 77.5061 34.8491 77.0854 34.9169C76.6654 34.9971 76.2373 35.0261 75.8103 35.0033Z"
        fill="white" />
      <path
        d="M76.1291 24.1545C75.7945 24.9441 75.2953 25.6533 74.6649 26.2346C74.9995 25.445 75.4987 24.7359 76.1291 24.1545Z"
        fill="white" />
      <path
        d="M86.6592 38.2614C86.4952 38.6565 86.2867 39.0317 86.0379 39.3797C85.7955 39.7322 85.5126 40.055 85.195 40.3414C85.5296 39.5518 86.0288 38.8427 86.6592 38.2614Z"
        fill="white" />
      <path
        d="M78.0147 42.4917C77.6186 42.3297 77.2431 42.1211 76.8963 41.8704C76.5437 41.6283 76.2209 41.3454 75.9346 41.0276C76.7242 41.3622 77.4333 41.8613 78.0147 42.4917Z"
        fill="white" />
      <path
        d="M81.7966 30.1193C82.4612 31.0323 83.1473 31.9238 83.8281 32.8207C83.6552 32.3668 83.5039 31.9076 83.3742 31.443H83.4066C83.5417 31.7995 83.6984 32.1507 83.8281 32.5235L84.0226 33.0638C84.0393 33.1007 84.0538 33.1386 84.0658 33.1773C84.6061 33.8742 85.1464 34.5712 85.6434 35.2844C86.2539 36.138 86.8428 37.0024 87.4372 37.8669C88.0315 38.7313 88.6312 39.8065 89.2741 40.6764C89.3335 40.752 88.1935 41.2166 88.0693 41.2761C87.945 41.3355 87.8802 41.2329 87.999 41.195C88.1179 41.1572 89.0256 40.6007 89.0364 40.5899C88.4421 39.7147 87.7559 38.9096 87.1346 38.0614C86.5133 37.2132 85.8973 36.3649 85.2976 35.5059C84.082 33.7554 82.969 31.94 81.7588 30.1841L81.7966 30.1193Z"
        fill="#263238" />
      <path
        d="M73.5735 36.2136C73.7626 36.581 73.9679 36.943 74.1138 37.3212L74.3191 37.7912C74.0328 36.4459 73.7788 35.0898 73.4817 33.7445C74.0544 35.9056 74.6325 38.1154 75.162 40.3089C75.6644 42.4052 76.2749 44.5231 76.5667 46.6626C76.9435 46.4974 77.3339 46.3654 77.7337 46.2682C77.3325 46.5279 76.9006 46.7366 76.4478 46.8896C75.7966 44.7139 75.2556 42.5067 74.827 40.2765C74.6919 39.6714 74.5677 39.0663 74.438 38.4612C74.2975 38.0938 74.13 37.7426 73.9625 37.3806C73.7951 37.0186 73.6438 36.6134 73.4925 36.2298C73.5249 36.2082 73.5627 36.1866 73.5735 36.2136Z"
        fill="#263238" />
      <path
        d="M76.8747 44.6364C78.6036 43.6639 85.8272 39.9252 87.4426 39.2336C87.5561 39.185 87.6155 39.2336 87.502 39.3093C84.0732 41.3017 80.5381 43.1053 76.9125 44.7121C76.8693 44.7229 76.8261 44.6635 76.8747 44.6364Z"
        fill="#263238" />
      <path d="M274.85 186.676H110.237L134.036 51.687H298.649L274.85 186.676Z" fill="#6C91DD" />
      <path d="M190.377 37.7046H136.506L134.036 51.6871H191.69L190.377 37.7046Z" fill="#6C91DD" />
      <path
        d="M130.692 43.41C130.332 41.8639 130.332 40.2557 130.692 38.7096C131.052 40.2557 131.052 41.8639 130.692 43.41Z"
        fill="#263238" />
      <path
        d="M125.905 44.7931C125.355 44.2227 124.881 43.5835 124.495 42.8914C124.09 42.2137 123.772 41.4875 123.55 40.7302C124.101 41.2973 124.575 41.935 124.96 42.6266C125.364 43.3067 125.681 44.0345 125.905 44.7931Z"
        fill="#263238" />
      <path
        d="M122.447 48.386C120.929 47.9244 119.537 47.1203 118.379 46.0358C119.136 46.2559 119.863 46.5718 120.54 46.9759C121.232 47.3644 121.873 47.8381 122.447 48.386Z"
        fill="#263238" />
      <path
        d="M121.237 53.227C119.691 53.5872 118.083 53.5872 116.537 53.227C118.083 52.8667 119.691 52.8667 121.237 53.227Z"
        fill="#263238" />
      <path
        d="M122.642 58.0139C122.069 58.5612 121.43 59.0349 120.74 59.4241C120.063 59.8281 119.336 60.144 118.579 60.3641C119.149 59.814 119.789 59.34 120.481 58.954C121.157 58.548 121.884 58.232 122.642 58.0139Z"
        fill="#263238" />
      <path
        d="M126.229 61.4662C125.769 62.9867 124.965 64.3806 123.879 65.5399C124.099 64.7815 124.417 64.055 124.825 63.3788C125.21 62.6842 125.682 62.0415 126.229 61.4662Z"
        fill="#263238" />
      <path
        d="M131.07 62.6602C131.259 63.4291 131.349 64.2187 131.34 65.0104C131.352 65.8022 131.261 66.5921 131.07 67.3606C130.877 66.5926 130.786 65.8023 130.8 65.0104C130.791 64.2187 130.882 63.4291 131.07 62.6602Z"
        fill="#263238" />
      <path
        d="M135.857 61.304C136.407 61.8745 136.881 62.5137 137.267 63.2058C137.673 63.8823 137.989 64.6088 138.207 65.3669C137.121 64.2077 136.317 62.8137 135.857 61.2932V61.304Z"
        fill="#263238" />
      <path
        d="M139.31 57.6842C140.068 57.9023 140.794 58.2183 141.471 58.6243C142.163 59.0103 142.802 59.4843 143.372 60.0344C142.614 59.8163 141.888 59.5003 141.211 59.0943C140.519 58.7083 139.88 58.2343 139.31 57.6842Z"
        fill="#263238" />
      <path
        d="M140.504 52.8432C142.052 52.4831 143.661 52.4831 145.209 52.8432C143.661 53.2033 142.052 53.2033 140.504 52.8432Z"
        fill="#263238" />
      <path
        d="M139.12 48.0565C139.692 47.5097 140.331 47.0377 141.022 46.6518C141.697 46.2419 142.424 45.924 143.183 45.7063C142.024 46.7924 140.63 47.5966 139.11 48.0565H139.12Z"
        fill="#263238" />
      <path
        d="M135.528 44.604C135.75 43.8474 136.066 43.1215 136.468 42.4429C136.854 41.7508 137.328 41.1116 137.878 40.5411C137.66 41.2993 137.344 42.0258 136.938 42.7023C136.552 43.3944 136.078 44.0336 135.528 44.604Z"
        fill="#263238" />
      <path d="M274.607 186.676H109.643L86.2161 56.5874H251.186L274.607 186.676Z" fill="#79A3F8" />
      <path
        d="M143.383 136.112C147.17 136.112 150.239 133.042 150.239 129.255C150.239 125.469 147.17 122.399 143.383 122.399C139.597 122.399 136.527 125.469 136.527 129.255C136.527 133.042 139.597 136.112 143.383 136.112Z"
        fill="#263238" />
      <path
        d="M197.584 136.112C201.371 136.112 204.44 133.042 204.44 129.255C204.44 125.469 201.371 122.399 197.584 122.399C193.798 122.399 190.728 125.469 190.728 129.255C190.728 133.042 193.798 136.112 197.584 136.112Z"
        fill="#263238" />
      <path
        d="M180.333 137.208L179.955 136.49C179.922 136.425 176.378 129.877 169.252 129.877C162.769 129.877 161.148 136.041 161.104 136.306L160.91 137.089L159.338 136.711L159.527 135.922C159.527 135.847 161.461 128.256 169.252 128.256C177.356 128.256 181.23 135.431 181.392 135.739L181.77 136.452L180.333 137.208Z"
        fill="#263238" />
    </svg>

  </div>
</div>
